@page "/"
@using BlazorI18n.Services
@inject II18n I18nService

<h1>Hello, world!</h1>

Welcome to your new app.

<button onclick="@(() => I18nService.ChangeLocal("fr"))">Fr</button>
<button onclick="@(() => I18nService.ChangeLocal("en"))">En</button>

<SurveyPrompt Title="How is Blazor working for you?" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />

<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />
<I18nElement Key="Account.LoginPage.Title" />