@page "/"

<div class="jumbotron">
    <h1 class="display-4">
        <I18nElement Key="Home" />
    </h1>
    <I18nElement Key="HomePage.Subtitle" RawHtml="true" />
    <p>
        <I18nElement Key="HomePage.Description" />
    </p>
</div>



