@page "/"

<div class="jumbotron">
    <h1 class="display-4">
        <I18nElement Key="Home" />
    </h1>
    <h4>
        <I18nElement Key="HomePage.Subtitle" />
    </h4>
    <p>
        <I18nElement Key="HomePage.Description" />
    </p>
</div>



